books/korean-newtown-guideline/**/*.pdf filter=lfs diff=lfs merge=lfs -text
books/korean-newtown-guideline/**/*.jpg filter=lfs diff=lfs merge=lfs -text
books/korean-newtown-guideline/**/*.jpeg filter=lfs diff=lfs merge=lfs -text
books/korean-newtown-guideline/**/*.png filter=lfs diff=lfs merge=lfs -text

books/city-space-trends-2024/**/*.pdf filter=lfs diff=lfs merge=lfs -text
books/city-space-trends-2024/**/*.jpg filter=lfs diff=lfs merge=lfs -text
books/city-space-trends-2024/**/*.jpeg filter=lfs diff=lfs merge=lfs -text
books/city-space-trends-2024/**/*.png filter=lfs diff=lfs merge=lfs -text

*.md text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.json text eol=lf
